body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21364A;
  background-image: url('/images/hexagon-overlay.png');
  background-size: 800px;
  background-repeat: repeat;
}

#bg-hexagon {
  position: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Gontserrat';
  src: url('/fonts/Gontserrat-ExtraLight.ttf') format('truetype');
}
